
<div>
    <h1><%= @user.email %></h1>

    <% if @user.events.length() > 0%>
        <h4>My Created Events</h4>

        <ul>
            <% @user.events.each do |event| %>
                <li>
                    <%= link_to event.title, event %>
                </li>
            <% end %>
        </ul>

        <h4>Previously attended events</h4>

        <ul>
            <% @past_events.each do |event| %>
                <li>
                    <%= link_to event.title, event %>
                </li>
            <% end %>
        </ul>

        <h4>Upcoming events</h4>

        <ul>
            <% @upcoming_events.each do |event| %>
                <li>
                    <%= link_to event.title, event %>
                    <% p "Event rsvps"  %>
                    <% p event.rsvps  %>
                    <%= button_to "Delete Invitation",
                        rsvp_path(id: event.rsvps.select { |attendee|
                            p 'Rsvp attendee'
                            p attendee
                            attendee.user_id == current_user.id
                        }[0].id),
                        method: :delete,
                        class:"btn btn-danger " %>
                    </div>
                </li>
            <% end %>
        </ul>

    <% end %>

</div>
