
<div>
    <h1><%= @user.email %></h1>

    <% if @user.events.length() > 0%>
    <h4>My Created Events</h4>

    <ul>
        <% @user.events.each do |event| %>
            <li>
                <%= link_to event.title, event %>
            </li>
        <% end %>
    </ul>

    <h4>Previously attended events</h4>

    <ul>
        <% @user.attended_events.select { |invited_event|
            if invited_event.date.present?
             # event.date < Date.today
                p "Original array"
                p  @user.attended_events
                p invited_event
                p "date"
                p invited_event.date
                p invited_event.date.class
                p "Today date"
                p Date.today
                p invited_event.date.past?
                invited_event.date.past?
            end
        }.each do |event| %>
            <li>
                <%= event.date %>
                <%= link_to event.title, event %>
            </li>
        <% end %>
    </ul>

    <h4>Upcoming events</h4>

    <ul>
        <% @user.attended_events.select { |invited_event|
            if invited_event.date.present?
                p invited_event
                p "date"
                p invited_event.date
                p invited_event.date.class
                p "Today date"
                p Date.today
                p invited_event.date.past?
                !invited_event.date.past?
            end

           }.each do |event| %>
            <li>
                <%= link_to event.title, event %>
            </li>
        <% end %>
    </ul>

    <% end %>

</div>
