<div class="col-6 mx-auto border border-dark p-3 mt-3">
    <%= form_with(model: @event, local: true) do |form| %>
      <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field mb-2">
        <%= form.label :title %>
        <%= form.text_field :title, class:"form-control"%>
      </div>

      <div class="field">
        <%= form.label :description %>
        <%= form.text_area :description, class:"form-control"%>
      </div>

      <div class="field">
        <%= form.label :location %>
        <%= form.text_field :location, class:"form-control"%>
      </div>

      <div class="field">
        <%= form.label :date %>
        <%= form.date_field :date, class:"form-control"%>
      </div>

      <div class="actions col-12 d-flex justify-content-end p-0">
        <%= form.submit class:"btn btn-primary mt-3 " %>
      </div>


    <% end %>
</div>
