
<div class="col-6 mx-auto">
    <h1><%= @event.title %></h1>

    <h4>Description: </h4>
    <p><%= @event.description %></p>

    <h4>Creator: </h4>
    <strong><%= link_to @event.creator.username , @event.creator %></strong>

    <h4>Location: </h4>
    <div><%= @event.location %></div>

    <% if @event.date.present? %>
    <h4>Date: </h4>
    <div><%= @event.date.strftime("%B %d %Y") %></div>
    <% end %>

    <%= button_to "Attend",
        rsvps_path(event_id: @event.id, user_id: current_user.id, status: "Attending"), 
        method: :post,
        class:"btn btn-success " %>
    <div>
        <p>Number of attendees:
            <span>
                <%= @event.rsvps.select {|attendee| attendee.status == "Attending" }.length()  %>
            </span>
        </p>
        <p>
            <span>Attending</span>
            <ul>

                    <% @event.rsvps.each do |attendee| %>
                        <% if attendee.status == "Attending" %>
                            <li>
                                <%= attendee.attendee.username %>
                            </li>
                        <% end %>
                    <% end %>

            </ul>

            <span>Pending</span>
            <ul>

                    <% @event.rsvps.each do |attendee| %>
                        <% if attendee.status == "Pending" %>
                            <li>
                                <%= attendee.attendee.username %>
                            </li>
                        <% end %>
                    <% end %>

            </ul>

            <span>Declined</span>
            <ul>

                    <% @event.rsvps.each do |attendee| %>
                        <% if (attendee.status != "Pending" && attendee.status != "Attending"  ) %>
                            <li>
                                <%= attendee.attendee.username %>
                            </li>
                        <% end %>
                    <% end %>

            </ul>
        </p>
    </div>



</div>
